<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="bindingAddresses" value="localhost, 127.0.0.1, 192.168.1.9" />
		<add key="port" value="3154"/>
		<add key="uploadPhyscialPath" value="/home/maishu/websites/upload"/>
		<add key="uploadVirtualPath" value="upload"/>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	   <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <httpProtocol>
            <customHeaders>
                <!-- 支持跨域 开始-->
                <add name="Access-Control-Allow-Origin" value="*" />
                <!-- 支持跨域 结束-->
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>